API_ID=16672843 # get this value from my.telegram.org
API_HASH=5ddaf72006c8c23f2cd6af241c56ec1d # get this value from my.telegram.org
BOT_TOKEN=5542174578:AAG3PrINrPxlq41-NnvweeYzPBPDdNquzNg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://userbot:userbot@cluster0.m2o4idd.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001624785668 # get this value from in your log group 
MUSIC_BOT_NAME=Alexa # your music bot name 
STRING_SESSION=AQDDGb0jzOFmntWNMh3VYnPiXYYjG_avYvF3LVpD5jEdFpqq0vpgqHp_CNoVHqWtm7DeVqqLlOpdoI6v1Tje5zeu6oVoJqag64Lx_goHfZHz57649mI-ZyamrY6xM-WxFkeDGe8oiSko-TjSvPafNeRf3DQBUsmk-iCLS6Awrc2fwP6MFDukdzdl7LUU6AWQXqfl5pCREXl0bi0MuPISSoYMyy8il_P1H4cbCsI5GvtuQkz84NjKD7L2bw3lu1iXkkcvss_S2ncmFzhLSjoRjn_m9yptZ5XbcG570IDE2JX7l9Me-QzR68gLxEPyxrgnhuPCVZjYEkmRlVkT0Ie1miJyAAAAAT_Z8s0A
